.card-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(194, 58, 58, 0.5);
  cursor: pointer;
  transition: all 0.7s linear;
}
.card-overlay h6 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.product-card:hover .card-overlay {
  display: block;
}
