.form-container {
  border: 1px solid rgb(206, 198, 198);
  width: 40%;
}

.form-container input {
  color: black;
  border: none;
  border-bottom: 1px solid rgb(206, 198, 198);
  border-radius: 0;
}
.login-btn {
  width: 40%;
}
@media (max-width: 768px) {
  .form-container {
    width: 100%;
  }
  .login-btn {
    width: 100%;
  }
}

.login {
  background-image: url(../../../images/bg4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  animation: slide 10s infinite;
}
.login-overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.7s linear;
  z-index: -1;
}
@keyframes slide {
  0% {
    background-image: url(../../../images/bg2.jpg);
  }
  33% {
    background-image: url(../../../images/bg3.jpg);
  }
  67% {
    background-image: url(../../../images/bg1.jpg);
  }

  100% {
    background-image: url(../../../images//bg5.jpg);
  }
}
